body {
  display: flex;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  
}
.navbar {
  min-block-size: 30px;
  background-color: #333;
  overflow: hidden;
}

.navbar.trailer {
  background-color: #8b4949;
}

.content {
  flex: 1; /* Questo permette alla sezione di contenuto di occupare lo spazio rimanente */
  background-color: whitesmoke;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.navbar a:hover {
  background-color: #f84747;
  color: black;
}

.home {
  font-size: 1.5vw;
}



.dati-utente {
  display: flex;
  text-align: right;
  align-items: center;
  color: antiquewhite;
  margin: 0;
  font-size: 1.5vw;
  float: right;
}

.dati {
  font-size: 1.3vw;
  color: antiquewhite;
  margin-inline-end: 15px;
  display: inline;
}

.dati.nickname {

  font-size: 1.3vw;
  font-weight: bolder;
  display: inline;
}

.trailer {
  font-size: 1vw;
  color: white;
  text-align: center;
}
